

/* utils =============================================== */

.primary-button {
	background-color: var(--purple);
	color: var(--white);

	border: none;
	border-radius: 0.25rem;

	padding: 0.8rem 3rem;
	margin-top: 2rem;

	font-weight: bold;
	opacity: 1;

	cursor: pointer;
}

.primary-button:hover {
	opacity: 0.8;

	transition: 150ms ease;
}

.inactive{
	visibility: hidden;
	opacity: 0;

}

.invisible{
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;

	opacity: 0;
	display: inline-block;
}

.mode-celebration.primary-button {
	background-color: var(--pink);
}

.mode-celebration.title{
	color: var(--pink);
}

