* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

:root {
	--black: #0d114f;
	--white: #fff;
	--background: #f9fbff;
	--dark-background:#0A0A0A;

	--overlay: #040911;
	--shadow: rgba(0, 0, 0, 0.08);
	--border: rgba(255, 255, 255, 0.2);

	--gray-1: #b8b8b8;
	--primary: #2094e6;

	--text-subtitle: #121212;
	--text-color: #333333;

	/* fonts */
	font-size: 62.5%; /* 10px pra ficar mais fácil de calcular em rem  */

	--ff-playfair-display: 'Playfair Display', serif;
	--ff-work-sans: 'Work Sans', sans-serif;
	--ff-josefin-sans:'Josefin Sans', sans-serif;
}

button,
.button {
	display: flex; 
	align-items: center;
	
	gap: 1rem;
	padding: 0.8rem 2.4rem;

	font-size: 1.6rem;
	font-family: var(--ff-work-sans);
	line-height: 1.9rem;

	color: var(--white);
	background-color: var(--primary);
	border: none;
}

.subtitles {
	font-family: var(--ff-playfair-display);
	font-size: 4.5rem;
	font-weight: 500;
	line-height: 6rem;

	color: var(--text-subtitle);
}

.tag-subtitles {
	margin-top: 4.2rem;
	margin-bottom: 1rem;

	font-family: "Playfair Display";
	font-style: normal;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 2.4rem;

	color: var(--primary);
}
