.container {
	padding-left: 12rem;
	padding-right: 12rem;
}

.grid-box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

/* landgin ======================================== */

.landing {
	width: 100%;
	height: 95vh;

	background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
		url("./assets/beach-bg.png");

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* navbar */

.landing header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-top: 2.2rem;
	padding-bottom: 2.2rem;
	border-bottom: 0.2rem solid var(--border);

	font-family: var(--ff-work-sans);
}

.landing header nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;

	list-style: none;
}

.landing header nav ul li {
	margin-left: 5rem;
}

.landing header nav ul:nth-child(1) {
	margin-left: 0rem;
}

.landing header nav ul li a {
	font-size: 2.4rem;
	line-height: 2.4rem;
	font-weight: 500;
	color: var(--white);
}

/* content */

.landing article {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

.landing article div.landing-box {
	padding-top: 16.2rem;
}

.landing article h2.title {
	font-family: var(--ff-playfair-display);
	font-size: 6rem;
	font-weight: 600;
	line-height: 6.6rem;
	color: var(--white);

	margin-bottom: 2.4rem;
}

.landing article p.message {
	font-family: var(--ff-work-sans);
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.7rem;
	color: var(--white);

	margin-bottom: 2.4rem;
}

/* ABOUT section =========================== */
#aboutUs .grid-box {
	margin-top: 12.8rem;
	margin-bottom: 12.8rem;
}

#aboutUs .grid-box div {
	width: 70%;
	justify-self: center;
}

#aboutUs .subtitles {
	margin-bottom: 2rem;
}

#aboutUs p.message {
	margin-bottom: 2rem;

	font-family: var(--ff-work-sans);
	font-style: normal;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.7rem;

	color: var(--text-color);

	text-align: justify;
}

/* cards */

#aboutUs .card-container {
	width: 100%;
	margin-bottom: 12.8rem;

	display: flex;
	justify-content: space-between;
}

#aboutUs .card-container .card {
	width: 24%;
	height: 23.3rem;
	padding: 4.4rem 2.8rem 0rem;

	background-color: var(--white);
	box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);

	font-size: 1.6rem;
}

#aboutUs .card .card-title {
	margin-top: 1.4rem;
	margin-bottom: 1.5rem;

	font-size: 2.4rem;
	font-family: var(--ff-playfair-display);
}

#aboutUs .card .card-text {
	font-size: 1.6rem;
	line-height: 2.4rem;
	font-family: var(--ff-work-sans);
	color: var(--text-color);
}

/* DESTINIES section =========================== */

#destinies header {
	text-align: center;

	margin-bottom: 6.4rem;
}

#destinies .card-container {
	width: 100%;
	margin-bottom: 12.8rem;

	display: flex;
	justify-content: space-between;
}

#destinies .card {
	text-align: center;
	padding: 25.4rem 3.1rem 2.7rem;
	background-color: transparent;
}

#destinies .card-container .card:nth-child(1) {
	background: url("./assets/roma.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 2rem;
}

#destinies .card-container .card:nth-child(2) {
	background: url("./assets/jakarta.png");
	background-repeat: no-repeat;
	background-size: cover;

	margin: 0 2rem;
}

#destinies .card-container .card:nth-child(3) {
	background: url("./assets/bangkok.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 2rem;
}

#destinies .card .card-title {
	font-size: 2.4rem;
	font-weight: 500;
	line-height: 3.2rem;
	font-family: var(--ff-playfair-display);
	color: var(--white);

	margin-bottom: 1.5rem;
}

#destinies .card .card-text {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.4rem;
	font-family: var(--ff-work-sans);

	color: var(--white);
}

/* REVIEWS section ========================= */

#reviews .grid-box {
	margin-bottom: 40rem;
}
#reviews .grid-box div {
	/* width: 80%;  */
}

#reviews .grid-box img {
	justify-self: end;
}

#reviews .subtitles {
	margin-bottom: 2rem;
}

#reviews p.message {
	margin-bottom: 2rem;

	font-family: var(--ff-work-sans);
	font-style: normal;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.7rem;

	color: var(--text-color);

	text-align: justify;
}
