/* GLOBAL ======================================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	text-decoration: none;
}

:root {
	--clr-red-dark: hsl(360, 67%, 44%);
	--clr-red-light: hsl(360, 71%, 66%);
	--clr-green-dark: hsl(125, 67%, 44%);
	--clr-green-light: hsl(125, 71%, 66%);

	--clr-black: #222;
	--clr-white: #fff;



	font-size: 62.5%; /* 10px pra ficar mais fácil de calcular em rem  */
}

body {
	font-size: clamp(14px, 1.6rem, 2vw);
}

