<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
			rel="stylesheet"
		/>

		<title>sidebar</title>
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<nav class="sidebar">
			<ul class="menu">
				<li>
					<!-- <img src="./assets/logo.svg" alt="" /> -->
					<img id="btn-open-menu" src="./assets/menu.svg" alt="" />
				</li>
				<li id="search-button">
					<input type="text" id="search" name="search" placeholder="" />
				</li>
				<li>
					<img src="./assets/grid.svg" alt="" />
					<span>dashboard</span>
				</li>
				<li>
					<img src="./assets/pet.svg" alt="" />
					<span>pets</span>
				</li>
				<li>
					<img src="./assets/user.svg" alt="" /> <span>clientes</span>
				</li>
				<li>
					<img src="./assets/vet.svg" alt="" /> 
					<span>vets</span>
				</li>
				<li>
					<img src="./assets/settings.svg" alt="" /> 
					<span>ajustes</span>
				</li>
			</ul>

			<div class="log-out">
				<div id="profile-container">
					<img id="profile-picture" src="./assets/photo.jpg" alt="">
					<p>Eleanor Pena</p>
					<span>veterinária</span>
				</div>
				<img src="./assets/log-out.svg" alt="" />
			</div>
		</nav>
		<script src="./main.js"></script>
	</body>
</html>
