/* global ============================================ */

:root {
    /* achar um verde mais forte  */
    --aqua-300: #63FFB9;
    --black-400: #4D4C59;
    
    --light-text-color: #C8C8C8;
    --text-color: #9C9AB6;

    --white:#FFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}


img{
    max-width: 100%;
}


.container{
    display: flex;
}

/* backgroun-mosaic */

#background-top{
    height: 7vh;
    background-image: url("assets/top-image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    top:0;
    
}

#background-bottom{
    height: 10vh;
    background-image: url("/assets/bottom-image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    position: relative;
    bottom:0;
}

/* utils =============================================== */

button{
    background-color: var(--aqua-300);
    color: var(--white);

    border: none;
    border-radius: 0.25rem;
    
    padding: .8rem 3rem;
    margin-top: 2rem;

    font-weight: bold;
    opacity: 1;
}

button:hover{
    opacity: 0.8;
    
    transition: 150ms ease;
    
}



/* main content +======================================= */
.countdown-container{
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdown-container h1{
    font-weight: bold;
    font-size: 2.25rem;
    letter-spacing: 3px;
    color: var(--aqua-300);
    margin-top: 1.5rem;
   
}

.countdown-container p{
    margin-top: .8rem;
    color: var(--light-text-color);
}




/* countdown clock ======================================  */

.countdown{
    display: flex;
    align-items: center;

    margin-top: 1.25rem;
}

.countdown div{
    margin: 1rem;   
    text-align: center; 
}

.countdown h4{
   color: var(--light-text-color);
   font-weight: normal;
   text-align: center;
}

.countdown .clock-number{
    color: var(--black-400);
    width: 7rem;

    font-size: 6rem;
    font-weight: normal;
}

.countdown .separator{
    font-size: 4rem;
    margin-top: 1rem;
    position: re;
}



/* container image rocket ================================= */
.container-image {
    width: 50%;
    margin-top: 1.5rem;
}





/* responsive ============================================ */
@media screen and (max-width: 960px) {
    

    button{
        width: 80%;
    }
    
    /* background mosaico */
   
    
    #background-bottom{
       padding: relative;
       bottom: 0;
      
    }


    
    /* main content +======================================= */
    
    .container {
		display: flex;
		flex-direction: column;
        justify-content: center;
        align-items: center;
	}


    .countdown-container{
        width: 100%;
        text-align: center;
    }

    .countdown div{
        margin: 0.5rem;   
        text-align: center; 
    }

    .countdown h4{
       font-size: 1rem;
     }

     .countdown .separator{
        font-size: 2rem;
        margin-top: 1rem;
        position: re;
    }
    

    .countdown .clock-number{
        color: var(--black-400);
        width: initial;
        font-size: 2.5rem;
        font-weight: normal;
    }


    

    /* container image rocket +======================================= */ 

    .container-image {
        margin: 2rem;
        width: 80%;
    }
    
}