:root {
	--backgrond: #000;
	--text-color: #fff;
	--text-color-menu-mobile: #e1e1e6;

	--button: #8257e5;
	--border: #29292e;
	--border-menu-mobile: #a8a8b3;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Manrope', sans-serif;
	background-color: var(--backgrond);
	color: var(--text-color);
	
	background-image: url("./assets/blur-mobile.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}